#header nav ul {
  list-style-type: none;
  height:50px;
  overflow: hidden;
  background-color:blue;
}

#header nav ul li {
  float: left;
}

#header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
}
.intro{
  padding-left: 10px;
}
.section{
  display:flex;
  justify-content: flex-start;
}
#main{
  width: 1000px;
  padding-left: 30px;

}a
.img{
  width:70%
  display: flex;
  padding-left: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 0 1 10px;

}
.form{
  width:30%;
  padding-left: 40px;
}
#footer{
  background-color:#808080;
  height:30px;
  text-align: center;
  padding: 20;

}
.alert{
  display:none;
  color: #8B0000;
  font-size: 20px;
  font-style: oblique;
  background-color:white;
  height:auto;
  width:auto;
}
